<div class="list-item-container">
  <p>
    id = {{ inputValue.id }}, name =
    <span *ngIf="buttonVisible">{{ inputValue.name }}</span>
    <input type="text" [(ngModel)]="inputValue.name" *ngIf="isVisible" />
  </p>
  <div>
    <button (click)="openDiv(inputValue)" *ngIf="buttonVisible">Update</button>
    <button (click)="deleteItem(inputValue.id)">Delete</button>
  </div>
  <div class="hidden-div" [style.display]="isVisible ? 'block' : 'none'">
    <button (click)="saveFunction(inputValue)">Save</button>
    <button (click)="closeFunction(inputValue)">Cancel</button>
  </div>
</div>
