<div class="list-item-container">
  <p>
    id = {{ inputValue.id }}, name =
    <span [style.display]="buttonVisible ? 'block' : 'none'">{{
      inputValue.name
    }}</span>
    <input
      type="text"
      [(ngModel)]="inputValue.name"
      [style.display]="isVisible ? 'block' : 'none'"
    />
  </p>
  <div>
    <button
      (click)="openDiv(inputValue.name)"
      [style.display]="buttonVisible ? 'block' : 'none'"
    >
      Update
    </button>
    <button (click)="deleteItem(inputValue.id)">Delete</button>
  </div>
  <div class="hidden-div" [style.display]="isVisible ? 'block' : 'none'">
    <button (click)="closeDiv()">Save</button>
    <button (click)="closeDiv()">Cancel</button>
  </div>
</div>
