<div class="list-item-container">
  <p>
    id = {{ inputValue.id }}, name =
    <span *ngIf="buttonVisible">{{ inputValue.name }}</span>
    <input
      type="text"
      [(ngModel)]="inputValue.name"
      *ngIf="isVisible"
      class="secondaryInput"
    />
  </p>
  <div>
    <button
      (click)="openDiv(inputValue)"
      *ngIf="buttonVisible"
      class="updateBtn"
    >
      Update
    </button>
    <button (click)="deleteItem(inputValue.id)" class="deleteBtn">
      Delete
    </button>
  </div>
  <div class="hidden-div" [style.display]="isVisible ? 'block' : 'none'">
    <button (click)="saveFunction(inputValue)" class="saveBtn">Save</button>
    <button (click)="cancelFunction(inputValue)">Cancel</button>
  </div>
</div>
